@font-face {
    font-family: 'PressStart';
    src: local('PressStart'), url(./PressStart2P-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'MontSerrat';
    src: local('MontSerrat'), url(./Montserrat-Medium.ttf) format('truetype');
}

html {
	height: 100%;
	background: #ffffff;
		background-size:     cover;                      /* <------ */
		background-repeat:   no-repeat;
        background-position: center center;  
      
}

Button {
    outline: none !important;
    box-shadow: none; 
}


* {
    margin:0;
    padding:0;
}


.wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 1fr;

}

.box1{
    grid-column: 1/4 ;
    height: 20%;
    text-align: center;
}

.box2{
    height: 20%;
    grid-column: 1/4 ;

    text-align: center;
}

.box3{
    height: 20%;
    text-align: center;
}

.box4{
    height: 20%;
    text-align: center;
}